<div class="container" *ngIf="movie$ | async as movie">
  <button routerLink="" class="back-button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
      />
    </svg>
    <span>Back</span>
  </button>
  <h1>{{ movie.title }}</h1>
  <div class="wrapper">
    <img src="{{ movie.poster }}" alt="Movie Poster" loading="lazy" />
    <p class="summary"><strong>Summary: </strong>{{ movie.summary }}</p>
  </div>

  <h2>Details</h2>
  <table>
    <tr>
      <th>Box office</th>
      <td>{{ movie.box_office! | customCurrency }}</td>
    </tr>
    <tr>
      <th>Budget</th>
      <td>{{ movie.budget | customCurrency }}</td>
    </tr>
    <tr>
      <th>Duration</th>
      <td>{{ +movie.duration | durationFormat }}</td>
    </tr>
    <tr>
      <th>Producers</th>
      <td>{{ movie.producers }}</td>
    </tr>
    <tr>
      <th>Cinematographers</th>
      <td>{{ movie.cinematographers }}</td>
    </tr>
  </table>
</div>
