.movies {
  width: 50vw;
  margin: auto;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1.2rem;
}
.title {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.info {
  grid-row: 2;
  color: #495057;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  width: 4.8rem;
  height: 2.2rem;
  margin-left: auto;
  background-color: #ced4da;
  color: #495057;
  cursor: pointer;
  border: none;
  grid-row-end: span 2;
}
.btn:hover {
  background-color: #adb5bd;
}
