<div class="container">
  <div class="filter-wrapper">
    <h3>Filters</h3>
    <label>Title</label>
    <input type="text" [formControl]="titleFilterControl" />
    <label>Release year</label>
    <input type="number" [formControl]="releaseYearFilterControl" />
  </div>
  <div class="movies-wrapper">
    <ul>
      @for (movie of movies$ | async; track $index) {
      <li>
        <div class="content-wrapper">
          <span class="title">{{ movie.title }}</span>
          <div class="info">
            <span>Release date: {{ movie.release_date }}</span>
            <span>Budget: {{ movie.budget | customCurrency }}</span>
            <span>Duration: {{ +movie.duration | durationFormat }}</span>
          </div>
          <button class="btn" routerLink="/movies/{{ movie.id }}">
            Details
          </button>
        </div>
      </li>
      } @empty { Movies don't found }
    </ul>
  </div>
</div>
